body {
    background-color: yellowgreen;
    background-color: rgba(62, 60, 180, 0.855);
    font-family: 
}

h1 {
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: orangered;
}

a {
    color: orangered;
    font-size: 32px;
}