body {
    background-color: yellowgreen;
    background-color: rgb(62, 60, 180);
    font-family: 
}

h1 {
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: orangered;
}

a {
    color: orangered;
    font-size: 32px;
}