body {
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    color: rgb(210, 144, 30);
}

h1 {
    
    text-align: center;
    font-size: 50px;
}

a {
    
    color: rgb(210, 144, 30);
    font-size: 32px;
}