body {
    
    background-color: rgb(223, 175, 112);
    font-size: 30px;
    
}

p {
    font-size: 40px;
}
.poop {
    color: rgb(179, 56, 29);
    
    
}

ul, ol, li {
    font-size: 30px;
    
}