body {
    
    background-color: rgba(245, 203, 148, 0.756);
    font-size: 30px;
    color: rgb(170, 45, 17);
}

h1, h2, h3, p {

     padding-left: 4%;
}

li {
    list-style-position: inside;
    margin: 2%;
    
    
}

.store {
    font-size: 37px;
    font-style: italic;
    font-weight: bold;
}


ul, ol, li {
    font-size: 33px;
    
}

